body {
	margin: 0;
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}
.spinner-border {
	display: block;
	margin: 8rem auto 0;
	--bs-spinner-width: 4rem;
	--bs-spinner-height: 4rem;
	--bs-spinner-border-width: 0.75rem;
}
main {
	flex: 1;
}
a {
	color: #000000 !important;
}
.navbar a {
	color: #ffffff !important;
}
.side-allpage {
	min-height: 100vh;
}
.rating i {
	color: #ffc000;
}
.fw-bold .rating span {
	font-weight: bold !important;
}
.btn-primary,
.btn-outline-primary {
	background-color: #f0c040;
	color: #000000;
	border-width: 0px;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-outline-primary:hover,
.btn-outline-primary:focus {
	background-color: #d3a62c;
	color: #000000;
}
.product-card {
	transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out, z-index 0.2s step-start;
	box-shadow: 0 0 0 #888888;
	padding: 1rem;
	transform: scale(1);
	z-index: 1;
	height: 100%;
}
.product-card:hover {
	box-shadow: 10px 10px 10px #888888;
	z-index: 2;
	transform: scale(1.2);
}
.product-card .card-body {
	display: flex;
	flex-direction: column;
	justify-content: end;
}
.card-img-top {
	object-fit: contain;
	object-position: center;
	width: 100%;
	height: 500px;
}
.img-thumbnail {
	height: 200px;
}
.small-container {
	max-width: 600px;
}
.checkout-steps > div {
	border-bottom: 0.2rem solid #a0a0a0;
	color: #a0a0a0;
}
.checkout-steps > div.active {
	border-bottom: 0.2rem solid #f08000;
	color: #f08000;
}
.active-page-button {
	background-color: #f0c040 !important;
	color: #000000 !important;
}
.filter-list a {
	text-transform: capitalize;
	text-decoration: none !important;
}
